<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>

<link rel="stylesheet" href="/stylesheet.css"></link>
</head>



<body>
	<div class="formTrajet"><h1>Proposer un nouveau Trajet</h1>

	<form th:action="@{/index/nouveauTrajet}" method="post">
		<div>
			Conducteur: <input type="text" name="userLogin" />
		</div>
		<div>
			ville de Départ: <input type="text" name="villeDepart" />
		</div>

		<div>
			ville d'Arrivée: <input type="text" name="villeArrivee" />
		</div>

		<div>
			date de Départ: <input type="date" name="dateDepart" />
		</div>

		<div>
			Prix du Trajet: <input type="text" name="prixTrajet" />
		</div>
		<div>
			Nombre de places: <input type="text" name="nbPlaces" />
		</div>

		<input type="submit" value="proposerTrajet" />
	</form>
	</div>

</body>
</html>